*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    --primary-color: #747e81;
    --secondary-color: #b9c8ce;
    --tertiary-color: #004b64;
    
}
body{
 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#headerEl {
    border-bottom: 3px solid;
    border-color:var(--secondary-color);
    padding-bottom: 20px;
}

.headerInfo{
    color:#565c5f;
    white-space: pre;
   
    text-align:center;
    font-size: 18px;

}

#highScoreDisplay{
    
    padding-right: 75vw;
}

#timerDisplay{
    border:3px solid;

    border-radius:50px;
    
    margin: 0 30vw;
}






/*Main Display Area*/

#mainCard {
    text-align: center;
}

#topList{
    border: 5px solid var(--secondary-color);
    font-weight:  bold;
    border-radius: 11px;
    font-size: 35px;
    color: var(--tertiary-color);
    margin: 40px 20vw 0px 20vw;
}

.topPlayer{
    border: 3px solid var(--secondary-color);;
    margin: 10px;
    color: black;
    font-weight:500;
    font-size: 25px;
}

.titleClass{
font-size: 35px;
padding-bottom: 5px;
color: var(--tertiary-color);
border-bottom: 3px solid var(--secondary-color);;
}
.headerClass{
    font-size: 25px;
    color: var(--tertiary-color);
    border-bottom: 3px solid var(--secondary-color);;
    }

#startButton{
    margin-top: 13px;
    animation: pulseScale 1s infinite alternate;
}
/*---Game Card---*/
#question{
    display:flex; 
    flex-wrap: wrap;
    
    justify-content: center;
    align-items:center;
    flex-direction: column;
}


#questionText{
    display: block;
    width: 100vw;
    padding-bottom: 5px;
}
#codeText{
    min-height: 0;
    padding: 10px;
    min-width: 400px;
    font-family:  OCR A Std, monospace;
    margin: 5px;
    flex: 100%;
    height:auto;
    white-space: pre;
    text-align: left;
    color:rgb(18, 128, 8);
    background-color: rgba(233, 232, 232, 0.582);
    border: 2px solid var(--primary-color);
}

#choiceButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /* width:150px; */
}

.btn{
    background-color: royalblue;
    color: #ffff;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
    border-radius: 20px;
    height: auto;
    min-height: 30px;
    min-width: 440px;
}

.btn:hover{
    color: royalblue;
    background-color: #ffff;
}

#result {
    font-size: 30px;
    margin-top: 30px;
}
/*---Finish Card---*/
#finishCard {
    color: var(--tertiary-color);
    font-weight: bold;
    font-size: 25px;
}
.userInputForm{
    font-size: 25px;
    border:5px solid rgb(54, 172, 0);
    border-radius: 100px;
    display: flex;
    margin:20px 25vw;
    padding:3px 25vw 3px 25vw;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    animation: upFromBottom 1s ;
    
}

.userInput{
  flex: 100%;
  
}

#inputFeild
{
    width:25vw;
}


/*---------------Animations --------------------*/
@keyframes colorPulseRed {
    from {
        color: rgb(88, 1, 1);
        
    }
    to {
        
        color:  rgb(255, 0, 0);
    }
}

@keyframes colorPulseGreen {
    from {
        color: rgb(1, 88, 5);
        
    }
    to {
        
        color:  rgb(0, 255, 42);
    }
}


@keyframes borderPulseGreen {
    from {
        border-color: rgb(1, 88, 8);
        
    }
    to {
        
        border-color:  rgb(16, 255, 8);
    }
}

@keyframes upFromBottom {
    from {
        transform: translate(1000px);
    }
}

@keyframes pulseScale{
    from {transform: scale(1)}
    to {transform: scale(2)}
}

@keyframes pushCardLeft{
    from {
        transform: translate(0);
    }
     to {
         transform: translate(-150%);
        }
}

@keyframes codeAnimation {
    from {
        transform: scale(1.3, 0.01);
    }
    
}

/*-------------Media Queries----------------*/



/*phone Scrren*/
@media screen and (max-width: 768px){
    #questionText {
        font-size: 25px;
    }
    #codeText {
        max-width: 300px;
        font-size: 12px;
        font-weight: bold;
    }
    .btn {
        font-size: 16px;
        min-width: 313px;
        min-height: 65px;
        font-weight: bold;
        }

        #topList{
            font-size: 28px;
        }

        #finishCard{
            font: 20;
        }

        .userInputForm{
            border: none;
            border-top:5px solid rgb(16, 255, 8);
            border-radius: 0px;
        }
        #inputFeild{
            margin-top: 20px;
          padding: 15px 150px 15px 150px;
        }
        .submitButton{
            margin-top: 25px;
            padding: 16px 30vw 16px 30vw;
            font-size: 20px;
        }
        #result{
            position: fixed;
            top: 0px;
            left: 80vw;
            font-size: 14px;
        }

        
    }


    /*very small phone Scrren*/
@media screen and (max-width: 375px){
    #questionText {
        font-size: 21px;
    }
    #codeText {
        min-width: 359px;
        margin-left: 0px;
        padding-left: 1px;
    }
    .btn {
        font-size: 16px;
        min-width: 313px;
        font-weight: bold;
        }

      
        #topList{
            font-size: 28px;
        }

       
        
    }

    
